[Unit]
Description=GPS Publica
After=network.target
 
[Service]
User=root
Group=root
UMask=0002
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/local/bin/gps
StandardOutput=syslog
StandardError=syslog
RestartSec=10
Restart=always
 
[Install]
Alias=gps.service
WantedBy=multi-user.target
